* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
  gap: 1em;
}
section > p {
  margin: 3em 10em;
  letter-spacing: 0.1em;
}
