* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
  gap: 1em;
}
html {
  overflow: hidden;
  scroll-behavior: smooth;
}

#accueil {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#accueil > p {
  margin: 3em 10em;
  letter-spacing: 0.1em;
}
#accueil button {
  margin-top: 10em;
  padding: 1em 10em;
  border-radius: 2em;
  background-color: #0092dd;
  color: white;
  border: none;
  box-shadow: 0 0 20px black;
}

/* ------------------ */

#form {
  height: 100vh;
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

fieldset {
  margin: 5em;
  padding: 2em;
  color: #0092dd;
  border-radius: 50px;
  width: 50vw;
}

legend {
  color: #0092dd;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #0092dd;
}

.formIdentite input {
  margin-right: 3em;
}
.choixDuMarathon {
  margin: 5em;
  padding: 2em;
  width: 50vw;
}

.choixDuMarathon > div {
  display: flex;
  gap: 2em;
  margin: 1em 0;
}

.btnValidation {
  position: relative;
  left: 30em;

  width: 30vw;
}

.btnValidation button {
  background-color: #0092dd;
  color: white;
  padding: 1em 3em;
  border: none;
  margin: 0 2em;
  border-radius: 50px;
}

fieldset {
  display: flex;
  justify-content: center;
}

#lePanier {
  height: 50em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#lePanier p {
  text-align: center;
  font-size: 1.2em;
}

#lePanier button {
  background-color: #0092dd;
  color: white;
  padding: 1em 3em;
  border: none;
  margin: 0 2em;
  border-radius: 50px;
}

.separator {
  height: 30vw;
  width: 2px;
  background-color: #0092dd;
}

.nomDesParticipants {
  width: 20vw;
}

.nomDesParticipants > p {
  cursor: pointer;
  margin-bottom: 1em;
}

.retourAccueil {
  border: none;
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.retourAccueil button {
  border: none;
  background: white;
  font-size: 4em;
}

button {
  cursor: pointer;
}

input[type="submit"] {
  background-color: #0092dd;
  color: white;
  padding: 1em 3em;
  border: none;
  margin: 0 2em;
  border-radius: 50px;
}

dialog {
  width: 50%;
  height: 50%;
  background-color: #0092dd;
  position: absolute;
  top: 125%;
  left: 25%;
  text-align: center;
  border: none;
  border-radius: 2em;
}
